<?php

return [
    'db' => [
        'host' => '127.0.0.1',
        'driver' => 'pdo_mysql',
        'dbname' => 'replace',
        'user' => 'replace',
        'password' => 'replace',
    ],
    'packages' => [
    ],
];
